<div class="dashboard main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 activity-form">
        <div class="row">
          <div class="form-group col-sm-3">
            <%= collection_select(:project, :project_id, @projects, :id, :name, {prompt: "Select a project"}, {:class => 'form-control'}) %>
          </div>
          <%= form_for(@activity, remote: true) do |f| %>
            <div class="form-group col-sm-8">
              <%= f.text_field :description, autofocus: true, class: "form-control" %>
            </div>
            <div class="col-sm-1">
              <%= f.submit "Start" ,class: "btn btn-success", id: "add-activity" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <table class="table activities-list">
        <thead>
          <tr>
            <th>Project</th>
            <th>Description</th>
            <th class="text-center">Time</th>
          </tr>
        </thead>

        <tbody>
          <%= @activities.each do |activity| %>
            <tr>
              <td><%= activity.project.name %></td>
              <td><%= activity.description %></td>
              <td class="text-center"><%= activity.calc_time %> seconds</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
