<%= form_for(@project) do |f| %>

  <div class="modal-body">
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <% if current_page?(:action => 'new') %>
    <%= f.submit "Create project" ,class: "btn btn-primary" %>
    <% else %>
    <%= f.submit "Modify project" ,class: "btn btn-primary" %>
    <% end %>
  </div>

<% end %>
