<div class="projects main">
  <div class="container">
    <div class="row text-right">
      <%= link_to 'New Project', new_project_path, remote: true, :class => "btn btn-primary"%>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table projects-list">
          <thead>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="#addProject">
          <% @projects.each do |project| %>
            <tr id="<%= project.id %>">
              <td><%= project.name %></td>
              <td>3500 seconds</td>
              <td class="text-right">
                <span class="glyphicon glyphicon-edit"></span><%= link_to 'Edit', edit_project_path(project), remote: true %>
                <span class="glyphicon glyphicon-remove"></span><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

